
<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Hesap Bilgilerini Güncelle-- {{authService.name}}</h5>
          <div class="card-body">
            <form [formGroup]="updateForm">
              
              <div class="form-group row mb-2">
                <!-- <label for="example-date-input" class="col-4 col-form-label"
                  >UserId</label
                > -->
                <div class="col-8">
                  <input
                  type="hidden"
                  class="form-control"
                  id="id"
                  formControlName="id"
                 value="authService.userId"
                
                 >
                </div>
              </div>
              <div class="mb-3">
                <label for="carId">Kullanıcı adı</label>
                <div class="form-group">
                  <input 
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="firstName"
                  value={{authService.name}}
                 
                  >

                </div>
              </div>
              <div class="mb-3">
                <label for="carId">Kullanıcı Soyadı</label>
                <div class="form-group">
                  <input 
                  type="text"
                  class="form-control"
                  id="surname"
                  formControlName="lastName"
                  value={{authService.surname}}
                  
                  >

                </div>
              </div>

              <div class="mb-3">
                <label for="carId">Email</label>
                <div class="form-group">
                  <input 
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  value={{authService.email}}
                  
                 >
                </div>
              </div> 
              <div class="mb-3">
                <label for="carId">Lütfen Şifrenizi Giriniz..</label>
                <div class="form-group">
                  <input 
                  type="password"
                  class="form-control"
                  id="email"
                  formControlName="password"
                >
                </div>
              </div> 
 </form>
 </div>
 <div class="card-footer">
   
  <button class="btn btn-fill btn-primary" (click)="update()" >Güncelle</button>
 
</div>
