<ul  class="list-group">
    <li class="list-group-item " routerLink="/cars"><h6> Tüm Markalar</h6></li>
    <div class="mb-3">
        
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
         placeholder="Marka ara..">
      
 </div>
  </ul>
  <select class="form-select" size="3" aria-label="size 3 select example" >
    <option  (click)="setCurrentBrand(brand)"
    routerLink="cars/brands/{{brand.brandId}}"
     [class]="getCurrentBrandClass(brand)" 
      *ngFor="let brand of brands | brandFilter:filterText" value="1">{{brand.brandName}}</option>
   
  </select>


  
 

