<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span><h2>Hakkımızda</h2></span> 
        Nitelikli Yazılım Geliştirici Yetiştirme Kampımızın bir ürünü olan Araç Kiralama Projem.
    </p>
    
      <div class="icons">
        <span style="background-color: white; text-decoration: white;"><h3>Bizi Takip Edin</h3></span>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span><h3>Adresimiz</h3> </span> İzmir, Bornova</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p> (+00) 2345 234 234</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#"> buketglgn@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
    
      <img src="https://localhost:44398/uploads/rentacar.jpg" style="width: 18rem; height: 13rem;"class="card-img-top" alt="...">
      <p class="menu">
        <a href="#"> Home</a> |
        <a href="#"> About</a> |
        <a href="#"> Services</a> |
        <a href="#"> Portfolio</a> |
        <a href="#"> News</a> |
        <a href="#"> Contact</a>
      </p>
      <p > ReCap Project &copy; 2021</p>
    </div>
  </footer>