

<div class="card-header text-center">
    <strong>
        {{carDetails.brandName}} - {{carDetails.description}} 
    </strong>
</div>
<div class="d-grid gap-2 mb-2" *ngIf="carDetails.rentalStatu == false">
    <div class="alert alert-danger">Araç şuan kiralanamaz</div>
</div>
<div class="d-grid gap-2 mb-2" *ngIf="carDetails.rentalStatu  == true" >

  <div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Araç Kirala</h5>
          <div class="card-body">
            <form [formGroup]="rentAddForm">
              <div class="mb-3">
                <label for="carId">Araç Numarası</label>
                <div class="form-group">
                  <input 
                  type="text"
                  readonly
                  id="carId"
                  formControlName="carId"
                  class="form-control"
                  value="carDetails.id"
                  placeholder={{carDetails.id}}
                  >

                </div>
              </div>
              <div class="mb-3">
                <label for="carId">Müsteri</label>
                <div class="form-group">
                  <div class="col-8">
                    <select class="form-select" formControlName="customerId">
                      <option value="customer.userId"
                        *ngFor="let customer of customers"
                      >
                        {{ customer.companyName }}
                      </option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="example-date-input" class="col-4 col-form-label"
                  >Başlangıç</label
                >
                <div class="col-8">
                  <input
                    class="form-control"
                    min="{{ getRentDate() }}"
                    value="{{ getRentDate() }}"
                    type="date"
                  
                    formControlName="rentDate"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="example-date-input" class="col-4 col-form-label"
                  >Bitiş</label
                >
                <div class="col-8">
                  <input
                    class="form-control"
                    type="date"
                    min="{{ getReturnDate() }}"
                    value="{{ getReturnDate() }}"
                  
                    formControlName="returnDate"
                  />
                </div>
              </div>
 </form>
 </div>
 <div class="card-footer">
  <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
</div>




        </div>
      </div>


    </div>


  </div>

</div>







   