<app-car-filter></app-car-filter>
   <div class="row" >
        <div *ngFor="let car of cars " class="card" style="width: 15rem;">
          <img src="https://localhost:44398/uploads/{{car.imagePath}}" class="card-img-top" alt="...">
          <div  class="card-body">
            <h5 class="card-title">{{car.description}}</h5>
          </div >
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Id {{car.id}}</li>
            <li class="list-group-item">Marka: {{car.brandName}}</li>
            <li class="list-group-item">Renk: {{car.colorName}} </li>
            <li class="list-group-item">Fiyat: {{car.dailyPrice}} TL</li>
          </ul>
          <div class="card-body">
            <button routerLink="/cars/car-detail/{{car.id}}" type="button" class="btn btn-light">Detaylar</button>
            <button routerLink="/cars/rental/{{car.id}}" type="button" class="btn btn-light">Kirala</button>
          </div>
        </div>
      </div>
